

  <div class="home">
  <div class="top" >
    <div class="logo">
      <img src="/assets/images/logo.png" style="width: 100px;" alt="">
    </div>
    <ul class="nav-list">
        <li class="nav-item"><a routerLink="/home" mat-button class="nav-link">Anasayfa</a></li>
        <li class="nav-item"><a routerLink="/about" mat-button class="nav-link">Hakkımızda</a></li>
        <li class="nav-item"><a routerLink="/project" mat-button class="nav-link">Projeler</a></li>
        <li class="nav-item"><a routerLink="/contact" mat-button class="nav-link">İletişim</a></li>
    </ul>
    
  </div>

  </div>
 

