
  .home {
    z-index: -1;
    /* display: grid; */
    grid-template-rows: 130px 1fr 250px;
  }
  .home .top {
    display: grid;
    grid-template-columns: repeat(3, auto);
    align-items: center;
    margin: 0 50px;
  }
  .home .top .nav-list {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;

  }
  .home .top .nav-list .nav-item {
    margin: 0 20px;

  }
  .home .top .nav-list .nav-link {
    padding: 8px 10px;
    font-size: medium;
  }


