<div class="main">
  <section class="home">
      <div class="top" >
        <div class="logo">
          <img src="/assets/images/logo.png" style="width: 100px;" alt="">
        </div>
      
        <ul class="nav-list">
            <li class="nav-item"><a href="#home"  mat-button class="nav-link">Anasayfa</a></li>
            <li class="nav-item"><a href="#hakkımızda"  mat-button class="nav-link">Hakkımızda</a></li>
            <li class="nav-item"><a href="#"  mat-button class="nav-link">Projeler</a></li>
            <li class="nav-item"><a href="#"  mat-button class="nav-link">İletişim</a></li>
          </ul>
  <!--     
        <div class="menu">
          <h1>Arık İnşaat</h1>
        </div> -->
      </div>
    <div style="display: flex;" class="heading-main">
      <h1 class="heading-main">Arık İnşaat</h1>
      <img style="opacity: 0.5;" src="/assets/images/foto1.png" alt="">
    </div>
      <div class="bottom">
        <div class="bottom-left">Porro facere possimus inventore illo.</div>
        <div class="bottom-right">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vel quidem
          architecto ipsam numquam.
        </div>
      </div>
  </section>
</div>