<div class="main2">
   <div style="display: flex;" class="heading-main">
    <h1 class="heading-main">Arıkca İnşaat</h1>
    <img src="/assets/images/foto1.png" alt="">
  </div>

    <div class="content">
      <h1>AKTİF PROJELERİMİZ</h1>
      <section class="scroll-content one">

       <div class="card">
    
        <mat-card class="example-card" *ngFor="let data of datas">
          
          <img class=" card__img card__img--hover" mat-card-image src="{{data.imageUrl}}">
          <div class="card__img--hover">
          </div>
          <div class="card__info">
            <h3 class="card__title">{{data.name}}</h3>
          </div>

        </mat-card>
       </div>
      </section>

      <!-- <section class="scroll-content two">
        <div class="center-img">
          <figure class="img preview">
            <img
              src="/assets/images/photo-1611431182735-68e6ffb168dd.jpeg"
              alt=""
            />
          </figure>
          <div class="img-text">
            <div class="bold">sit amet consectetur adipisicing</div>
            <div class="normal">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
            </div>
          </div>
        </div>
      </section> -->
      <!-- <section class="scroll-content three">
        <h1 class="heading-intro">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet,
          recusandae qui. Iste, deleniti.
        </h1>
        <div class="article">
          <div class="left">
            <figure>
              <img
                src="/assets/images/photo-1582402516762-5c3e03e846d0.jpeg"
                alt=""
              />
            </figure>
          </div>
          <div class="right">
            <div class="block">
              <h1>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h1>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus
                inventore quas sapiente expedita vel rerum dolor distinctio beatae
                doloribus! Quod dolorem libero sunt quidem doloribus ea temporibus
                nisi possimus consequatur?
              </p>
            </div>
            <div class="block">
              <h1>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h1>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus
                inventore quas sapiente expedita vel rerum dolor distinctio beatae
                doloribus! Quod dolorem libero sunt quidem doloribus ea temporibus
                nisi possimus consequatur?
               
              </p>
            </div>
            <div class="block-1">Lorem ipsum dolor sit amet consectetur.</div>
          </div>
        </div>
      </section> -->
    </div>
  </div>
  